# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist
tmp
out-tsc
*.tsbuildinfo
.expo
.expo-shared

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

# Replit
.cache/
.local/
/.vs/fisio/CopilotIndices/17.14.1601.40145/CodeChunks.db-shm
/.vs/fisio/CopilotIndices/17.14.1601.40145/CodeChunks.db-wal
/.vs/fisio/CopilotIndices/17.14.1601.40145/SemanticSymbols.db
/.vs/fisio/CopilotIndices/17.14.1601.40145/SemanticSymbols.db-shm
/.vs/fisio/CopilotIndices/17.14.1601.40145/SemanticSymbols.db-wal
/.vs/fisio/FileContentIndex/341e1a80-659b-40fb-b9bd-992ebb682687.vsidx
/.vs/fisio/FileContentIndex/ad4fd59e-86f7-40ef-b5f4-ff253c10c3b5.vsidx
/.vs/fisio/FileContentIndex/b521c904-884b-4736-bd2d-9cab7df3ceca.vsidx
/.vs/slnx.sqlite
/.vs/fisio/CopilotIndices/17.14.1601.40145/CodeChunks.db
/.vs/fisio/FileContentIndex/1a02abbd-7799-4846-9e2a-d6a808554ce7.vsidx
