# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist
tmp
out-tsc
*.tsbuildinfo
.expo
.expo-shared

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

# Replit
.cache/
.local/
/.vs/fisio/CopilotIndices/17.14.1601.40145/CodeChunks.db-shm
/.vs/fisio/CopilotIndices/17.14.1601.40145/CodeChunks.db-wal
/.vs/fisio/CopilotIndices/17.14.1601.40145/SemanticSymbols.db
/.vs/fisio/CopilotIndices/17.14.1601.40145/SemanticSymbols.db-shm
/.vs/fisio/CopilotIndices/17.14.1601.40145/SemanticSymbols.db-wal
/.vs/fisio/FileContentIndex/341e1a80-659b-40fb-b9bd-992ebb682687.vsidx
/.vs/fisio/FileContentIndex/ad4fd59e-86f7-40ef-b5f4-ff253c10c3b5.vsidx
/.vs/fisio/FileContentIndex/b521c904-884b-4736-bd2d-9cab7df3ceca.vsidx
/.vs/slnx.sqlite
/.vs/fisio/CopilotIndices/17.14.1601.40145/CodeChunks.db
/.vs/fisio/FileContentIndex/1a02abbd-7799-4846-9e2a-d6a808554ce7.vsidx
/.vs/fisio/FileContentIndex/65623610-f898-4c60-872d-85c87bb974c2.vsidx
/.vs/fisio/FileContentIndex/7a63d8de-b355-4afc-add1-559f8ad0b42c.vsidx
/.vs/fisio/FileContentIndex/a9420b4b-b949-4fc0-a0ee-72e4bc3fa9e5.vsidx
/.vs/fisio/FileContentIndex/bd18db3a-800d-4794-9286-f5dbe88bf246.vsidx
/.vs/fisio/FileContentIndex/f4d3061c-a18c-439f-9459-912317def055.vsidx
/.vs/fisio/FileContentIndex/0d7027eb-0dc4-415f-b307-49fc7ccdf236.vsidx
/.vs/fisio/FileContentIndex/b2ebb94d-25a9-463a-8132-0a488b431190.vsidx
/.vs/fisio/FileContentIndex/dd425f32-c186-4c6d-8652-e829784af82f.vsidx
/.vs/fisio/FileContentIndex/dd7db39f-1f0f-4164-85ca-541ea57eceb3.vsidx
/.vs/fisio/FileContentIndex/e623cec3-6594-473c-9fd0-e49de5dd6406.vsidx
/.vs/fisio/v17/.wsuo
/.vs/fisio/v17/DocumentLayout.json
/.vs/fisio/FileContentIndex/0e7004df-76a0-4165-9770-45777003e34d.vsidx
